.header {
    padding: var(--padding-mobile);
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
    z-index: 3;
    height: 10px;
  }

.logo {
    border-radius: 30%;
    width: 100px;
    height: 100px;
}

.imglogo {
    width: 50px;
    border-radius: 50%;
}

.header_title {
    color: grey;
}

.header_menuham{
    font-size: 1.4rem;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
}

.navbar{
    width: min(100%, 300px);
    position: fixed;
    background-color: #EF9919;
    height: 100vh;
    right: 0;
    top: 0;
    padding-top: 80px;
    box-shadow: 0 0 20px 0 #0009;
    transition: transform 600ms ease;
    transform: translateX(105%);
}

.navbar_open {
    transition: transform 600ms ease;
    transform: translateX(0);
}

.navbar_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .navbar_links {
    display: flex;
    flex-direction: column;
    height: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .navbar_link-active {
    color: grey;
  }
  .navbar_links i {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  .header ul {
    padding-top: 30%;
  }

  hr {
    width: 100%;
  }
  
  @media screen and (min-width: 720px) {
    .header {
      padding: var(--padding-tablet);
      height: 100px;
      position: fixed;
      top: 1%;
      width: 95%;
    }
    .header_menuham {
      display: none;
    }
    .navbar-open {
      transform: translateX(0);
      transition-duration: 0ms;
    }
    .navbar {
      transform: translateX(0);
      transition-duration: 0ms;
      position: static;
      width: auto;
      height: auto;
      padding: initial;
      box-shadow: none;
      width: min(50%, 800px);
      background-color: transparent;
    }
    .navbar_list {
      flex-direction: initial;
      justify-content: space-evenly;
      gap: 0;
    }
    .navbar_items {
      padding: 0;
      height: 100px;
      display: flex;
      align-items: center;
    }
    .navbar_links{
      padding: 0 30px;
    }

    .header ul {
      padding-top: 0%;
    }

    .style_title{
      padding-top: 0%;
    }

    hr {
      display: none;
    }
  }