.footer {
    padding: var(--padding-mobile);
    background-image: url(../../../assets/istockphoto-1086525092-170667a.jpg);
    background-position:bottom;
    /* background-color: var(--color-footer); */
    color: var(--primary-color);
    margin-top: 350%;
  }
  .footer__text {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
  .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
  }
  .redes__items {
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact_title {
    color: #f1a600;
    text-align: center;
}

.cards_position {
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
}

.card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background: #d1ceca;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    /* gap: 10%; */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 10px ;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
}

.card {
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.logo_phone {
    width: 150px;
}

.logo_email {
    width: 160px;
}

  @media screen and (min-width: 720px) {
    .footer {
      padding: var(--padding-tablet);
      margin-top: 85%;
    }
    .footer__text{
      margin-bottom: 30px;
    }
  }